/*  ====================
    KEYFRAMES ANIMATIONS
    ==================== */

@keyframes fadingContainer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadingPopup{
    0%{
        opacity: 0.1;
        transform: scale(0.7);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }
    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
        text-shadow: none;
    }
}
  
@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }
    2% {
    
    }
    4%, 100% {  
        text-shadow: none; transform: none; 
    }
}
  
@keyframes glancing {
    0% {
        transform: translateX(-20px);
    }
    
    50% {
        transform: translateX(-10px);
    }
    
    100% {
        transform: translateX(-20px);
    }
}

/*  =================
    ANIMATION CLASSES 
    ================= */

.fadingContainer{
    animation-name: fadingContainer;
    animation-duration: 0.75s;
    /* animation-timing-function: linear; */
}

.glancing{
    animation-name: glancing;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*  ============== 
    CODEPEN GLITCH
    ============== */

.container2{
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.right {
  text-align: right;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }
